$primaryColor: #ff9800;
$bgColor: #1b1b20;
$bgInnerColor1: #31313aea;
$bgInnerColor2: #2a2a31ec;
$textColor: #e0e0e2;
$textShadowColor: rgb(175, 175, 175);
$lineColor: linear-gradient(90deg, #fffefe08, #8c8c8c9a, #fffefe08);
$transparentPrimaryColor: #ff990077;

//==============Placeholders==============
%shadow_line {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-image: $lineColor;
}
